

.historia { 
    font-size: 50px;   
    color: white;
    margin: 50px;
   
}

.enlaces{
font-size: 40px;

}

.biografia{
     font-size: 30px;
     color: white;

}

.imagen{

  border: 15px solid rgb(148, 148, 196);
  border-radius: 40px; /* esquinas redondeadas */
}


.futbol {
    display: flex;
    align-items: center;

    
}
 
body{

font-family: 'Segoe UI', Arial, sans-serif;
	background-color: #b10707;
	color: #0a0101;
	line-height: 1.6;
	height: 100vh;
	display: flex;
	flex-direction: column;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24


}

.color{

    font-size: 30px;
     color: rgb(248, 244, 244);
    margin: 30px;
}

.liga{ 
     font-size: 40px;
     color: white;
}
.ligas{
     font-size: 30px;
     color: white;


}

.titulo{

    font-size: 40px;
     color: white;
}

.titulos{

font-size: 30px;
     color: white;

}

.rojo{
     font-size: 40px;
     color:white;

}

table, th, td {
  border: 1px solid white;
}

table {
  width: 100%;
}


.tabla{
    color: white;

}

.azul{

    font-size: 30px;
    color: white;

}

/* ===== TABLET (pantallas medianas) ===== */
@media (max-width: 768px) {
	.main {
		flex-direction: column;
		align-items: center;
	background-color: rgb(255, 4, 4);
  
  }

  body{
    background-color: blue;
  }

  

	.contenido,
	.aside {
		width: 100%;
	}

	.nav {
		gap: 10px;
	}

	.nav a {
		font-size: 1rem;
	}

	.contenido p {
		font-size: 1rem;
	}
}

/* ===== CELULAR (pantallas pequeñas) ===== */
@media (max-width: 480px) {
	.header h1 {
		font-size: 1.4rem;
	}
  
  body{
    background-color: rgb(247, 95, 7);
  }

	.nav {
		flex-direction: column;
		align-items: center;
	}

	.nav a {
		display: block;
		padding: 10px 0;
		font-size: 0.95rem;
	}

	.main {
		padding: 15px;
	}

	.contenido,
	.aside {
		padding: 15px;
	}

	.btn {
		width: 100%;
	}

	.footer {
		font-size: 0.9rem;
	}
}

/* ===== ENCABEZADO ===== */
.header {
	background: #3498db;
	color: #fff;
	padding: 100px;
	text-align: center;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	margin-top: 10px;
}

.nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

.nav a:hover {
	color: #f1c40f;
}
